<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dipto.digitalmess">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Create_Member"
            android:label="Sign in"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".Create_Id"
            android:label="ID"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".Before_Join"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".Member_Account"
            android:label="My Account"></activity>
    </application>

</manifest>